@font-face {
    font-family: 'PingAR LT Bold';
    src: url('./Fonts/PingAR+LT-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'PingAR LT Medium';
    src: url('./Fonts/PingAR+LT-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PingAR LT Regular';
    src: url('./Fonts/PingAR+LT-Regular.otf') format('opentype');
}


body {
    font-family: "PingAR LT Regular", sans-serif;
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%201440%20837%22%3E%0A%20%20%3C!--%20Generator%3A%20Adobe%20Illustrator%2029.7.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%202.1.1%20Build%208)%20%20--%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.st0%2C%20.st1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20none%3B%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20.st2%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20url(%23radial-gradient)%3B%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20.st3%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20url(%23linear-gradient)%3B%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20.st1%20%7B%0A%20%20%20%20%20%20%20%20isolation%3A%20isolate%3B%0A%20%20%20%20%20%20%20%20opacity%3A%20.45%3B%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20.st4%20%7B%0A%20%20%20%20%20%20%20%20clip-path%3A%20url(%23clippath)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%3CclipPath%20id%3D%22clippath%22%3E%0A%20%20%20%20%20%20%3Crect%20class%3D%22st0%22%20y%3D%220%22%20width%3D%221440%22%20height%3D%22837%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%20%20%3ClinearGradient%20id%3D%22linear-gradient%22%20x1%3D%22314.23%22%20y1%3D%22696.1%22%20x2%3D%221127.79%22%20y2%3D%22136.05%22%20gradientTransform%3D%22translate(0%20835.28)%20scale(1%20-1)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%220%22%20stop-color%3D%22%231b2741%22%2F%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%232f3a96%22%2F%3E%0A%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3CradialGradient%20id%3D%22radial-gradient%22%20cx%3D%22509.84%22%20cy%3D%22714.59%22%20fx%3D%22509.84%22%20fy%3D%22714.59%22%20r%3D%221%22%20gradientTransform%3D%22translate(-532841.85%20-379665)%20rotate(90)%20scale(747%20-747)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%220%22%20stop-color%3D%22%230d1326%22%2F%3E%0A%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%230d1326%22%20stop-opacity%3D%220%22%2F%3E%0A%20%20%20%20%3C%2FradialGradient%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20class%3D%22st4%22%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Crect%20class%3D%22st3%22%20y%3D%220%22%20width%3D%221440%22%20height%3D%22837%22%2F%3E%0A%20%20%20%20%20%20%3Ccircle%20class%3D%22st2%22%20cx%3D%22959%22%20cy%3D%221185%22%20r%3D%22747%22%2F%3E%0A%20%20%20%20%20%20%3Crect%20class%3D%22st1%22%20x%3D%2229.78%22%20y%3D%22-514.66%22%20width%3D%221306.02%22%20height%3D%222570.4%22%20transform%3D%22translate(-334.45%20611.94)%20rotate(-39.59)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    background: #FBFCFD;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 90%;
    margin: auto;
    margin-top: 15%;
    background: #F1F3F9;
    padding: 20px;
    border-radius: 12px;
}

.signature-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.signature-bg {
    width: 800px;
    height: auto;
    border-radius: 12px;
}

.overlay-text {
    position: absolute;
    color: #0B3C6E;
    font-size: 24px;
    font-family: "PingAR LT Regular", sans-serif;
}

h1 {
    font-family: "PingAR LT Bold", sans-serif;
    color: #0B3C6E;
}

h2 {
    font-family: "PingAR LT Medium", sans-serif;
    font-size: 20px;
    color: #0B3C6E;
    margin-top: 20px;
    text-align: left;
}

p{
    font-family: "PingAR LT Medium", sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    text-align: left;
}

/* Example positioning — adjust as per design */
.name {
    top: 52px;
    left: 358px;
    font-weight: bold;
}

.position {
    top: 86px;
    left: 358px;
    font-size: 14px;
}

.email {
    top: 143px;
    left: 383px;
    font-size: 12px;
    color: #4B82BC;
    font-weight: bold;
}

.phone {
    top: 208px;
    left: 383px;
    font-size: 12px;
    color: #4B82BC;
    font-weight: bold;
}

.domain {
    top: 176px;
    left: 383px;
    font-size: 12px;
    color: #4B82BC;
    font-weight: bold;
}

form input {
    font-family: "PingAR LT Regular", sans-serif;
    display: inline-block;
    margin: 10px auto;
    padding: 8px;
    width: 300px;
    font-size: 16px;
    border: 1.4px solid #E4E8F1;
    border-radius: 6px;
    background-color: #FBFCFD;
}

form input:focus {
    border-color: #0B3C6E;
    outline: none;
}

form input::placeholder {
    color: #4B5A81;
}

button {
    padding: 10px 10px 6px 10px;
    font-family: "PingAR LT Medium", sans-serif;
    font-size: 16px;
    background: #0B3C6E;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}