<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Signature Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/sju4guc.css">
    <link rel="icon" href="{{ url_for('static', filename='Images/favicon.png') }}" type="image/png">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Email Signature Generator</h1>

        <div class="signature-wrapper" id="signature-preview">
            <img src="{{ url_for('static', filename='Images/bg.png') }}" alt="Signature Background" class="signature-bg">

            <div class="overlay-text name" id="name-text"></div>
            <div class="overlay-text position" id="position-text"></div>
            <div class="overlay-text email" id="email-text"></div>
            <div class="overlay-text domain" id="domain-text">www.alraedah.sa</div>
            <div class="overlay-text phone" id="phone-text">8001249000</div>
        </div>

        
        <form id="signature-form" onsubmit="return false;">
            <input type="text" placeholder="Name" oninput="updateField('name-text', this.value)">
            <input type="text" placeholder="Position" oninput="updateField('position-text', this.value)">
            <input type="email" placeholder="Email" oninput="updateField('email-text', this.value)">
            <input type="text" placeholder="Phone" oninput="updateField('phone-text', this.value)">
            <button type="button" onclick="downloadSignature()">Download PNG</button>
        </form>
        <br>
        
        <h2>Instructions:</h2>
        <p>1. Fill in your details in the form above.</p>
        <p>2. The signature preview will update in real-time.</p>
        <p>3. Click the "Download PNG" button to save your signature.</p>
        <p>4. Use the generated signature in your email client.</p>
        <p>5. If you don't want to put your mobile number, just leave it empty</p>
    </div>
    

    <script>
        function updateField(id, value) {
            document.getElementById(id).textContent = value;
        }

        function downloadSignature() {
            const element = document.getElementById('signature-preview');
            html2canvas(element, {
                scale: 4,
                useCORS: true,
                backgroundColor: null
            }).then(canvas => {
                const link = document.createElement('a');
                link.download = 'signature.png';
                link.href = canvas.toDataURL('image/png');
                link.click();
            });
        }
    </script>
</body>
</html>
